form {
  background: white;
  color: darkslategrey;
  padding: 20px;
  legend {
    font-weight: bold;
    font-size: 20px;
  }
  label {
    margin-bottom: 15px;
  }
  input {
    width: 100%;
    border: none;
    background: darkslategrey;
    color: white;
    padding: 5px;
  }
  textarea {
    width: 100%;
    border: none;
    background: darkslategrey;
    color: white;
    padding: 5px;
  }
}