.link {
  color: white;
  position: relative;
  border-bottom: 2px dashed white;
  text-decoration: none;
  margin: 0 0 10px 30px;
  display: inline-block;
  &:hover {
    border-bottom: 2px solid white;
  }
  &::before {
    font-family: 'iconic';
    position: absolute;
    top: 3px;
    left: -30px;
    font-size: 20px;
  }
  &--primary {
    &::before {
      content: '\e0bb';
    }
  }
  &--external {
    &::before {
      content: '\e064';
    }
  }
  &--undo {
    &::before {
      content: '\e003';
    }
  }
  &--mail {
    &::before {
      content: '\e05c';
    }
  }
  &--vcard {
    &::before {
      content: '\e0a5';
    }
  }

  &--download {
    &::before {
      content: '\e04e';
    }
  }
  &--hot {
    &::before {
      content: '\e068';
    }
  }
  &--map {
    &::before {
      content: '\e091';
    }
  }
  &--paypal {
    &::before {
      content: '\e086';
    }
  }

  &--github {
    &::before {
      content: '\e06c';
    }
  }
}