@import 'flexbox';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background: darkslategrey;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 25px;
  display: block;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}

.header,
.main,
.footer {
  margin: auto;
  max-width: 90%;
  width: 1200px;
}

.header {
  margin-top: 70px;
  position: relative;
  .portrait {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: blocK;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: url("../img/moritz_limbach.jpg") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    margin: auto;
    @media only screen and (max-width: 48em) {
      width: 90px;
      height: 90px;
    }
  }
}

.footer {
  .icons {
    text-align: center;
    li {
      display: inline;
      margin: auto;
      margin: 10px;
      svg {
        width: 30px;
      }
      svg path{
        fill: white;
      }
    }
  }
  padding-top: 40px;
}
